<div class="row marketing">
    <div class="intro">
        <div class="row-fluid">
            <div class="span8">
                <h2>Welcome to Kinvolved</h2>
                <p>
                We're a community of Parents, Teachers, and Faculty sharing the best-of-the-best articles,
                discussions, and interesting links in our communities.
                </p>
                <a href="/authenticate" style="margin: 0 10px 0 0;" class="btn btn-info">
                    <i class="icon"></i> Login or Register
                </a>
                <a href="/about" class="btn btn-success">Learn more</a>
                <a href="/new" class="btn btn-success">New Post</a>
            </div>
        </div>
    </div>
  <ul class="posts" ng-repeat="post in posts">
     <li class="post">
        <div class="votes">{{post.voteCount}}</div>
        <div class="postTitle">
            <a href="/post/{{ post._id }}">
                {{post.title}}
            </a>
        </div>
        <div class="postCategory" ng-repeat="category in post.categories">
            <a href="/posts/category/{{ category }}">
                {{category}}
            </a>
        </div>
        <div class="postStats">
            <div class="submittedStats">submitted [x] hours ago by [name] to [topics]</div>
            <div class="commentCount">[##] comments</div>
            <div>Share</div>
        </div>
    </div>
  </div>
</div>